<!DOCTYPE html>
<html lang="en">
  <%- include('./layout/head') %>
  <body>
    <%- include('./partials/_header') %>
    <div class="container">
      <h1><%= title %></h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ullam
        alias adipisci quidem veniam. Ratione debitis, alias maxime iusto animi,
        expedita similique harum eligendi totam aut iure sequi impedit nulla?
      </p>
    </div>
  </body>
  <%- include('./layout/materialize') %>
  <script>
    M.Sidenav.init(document.querySelector(".sidenav"));
  </script>
</html>
