<!DOCTYPE html>
<html lang="en">
  <%- include('./layout/head') %>
  <body>
    <div class="container login-container">
      <div class="card">
        <div class="card-content">
          <h3><i class="fas fa-book-reader"></i>StoryBooks</h3>
          <section>
            <p class="lead">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
              numquam.
            </p>
          </section>
          <div class="divider"></div>
          <div class="section">
            <a href="/auth/google" class="btn red darden-1">
              <i class="fab fa-google left"></i>
              Log in with Google
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%- include('./layout/materialize') %>
</html>
